/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
/*Styling*/
h1 {
	font-family: 'Montserrat Alternates', sans-serif;
}
h2 {
        color: red;
}
p {
	color: blue;
}
body {
	background-color: #e3f2fd;
