/*Importing*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
/*Styling*/
h1 {
	font-family: 'Montserrat Alternates', sans-serif;
}
h2 {
        color: red;
}
p {
	color: blue;
}
body {
	background-color: #e3f2fd;
}
button {
	background-color: transparent;
	border-width: 1px;
	border-color: darkgreen;
	color: black;
	border-radius: 10px;
}
button:hover {
	background-color: transparent;
	border-width: 1px;
	border-color: darkgreen;
	color: darkgreen;
	border-radius: 10px;
}
